.bar-chart {
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 32px;
  height: 8px;
  background-color: #000000;
  margin-right: 8px;
}

.height-4 {
  height: 4px;
}

.height-12 {
  height: 12px;
}

.height-16 {
  height: 16px;
}

.height-32 {
  height: 32px;
}

.height-64 {
  height: 64px;
}